* {
  box-sizing: border-box;
}

body, table, div, p, dl {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 16px;
  word-wrap: break-word;
}

b {
  font-weight: 600;
}

.title ol {
  margin: 0;
}

.title ol li {
  list-style-type: none;
}

.ui-resizable-e {
  background: none;
  background-color: #e6e6e6;
}

.ui-resizable-handle {
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 24px;
  margin-bottom: 16px;
  width: 100%;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.3em;
  border-bottom: 2px solid #eaecef;
}

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 2px solid #eaecef;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.875em;
}

h6 {
  font-size: 0.85em;
  color: #6a737d;
}

/* @group Link Styling */

a {
  background-color: transparent;
  color: #354C7B;
}

.contents a:visited {
  color: #354C7B;
}

a:active, a:hover {
  outline-width: 0;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a.el {
  font-weight: normal;
}

a.code, a.code:visited, a.line, a.line:visited {
  color: #354C7B;
}

a.codeRef, a.codeRef:visited, a.lineRef, a.lineRef:visited {
  color: #354C7B;
}

/* @end */

pre.fragment {
  border: 0px solid #C4CFE5;
  background-color: #f3f3f3;
  padding: 16px;
  line-height: 1.45;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
}

div.fragment {
  padding: 16px;
  background-color: #f3f3f3;
  margin-right: 2px;
  border: 0px solid;
}

div.line {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  line-height: 1.25;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
}

div.line.glow {
  background-color: auto;
  box-shadow: none;
}

.memdoc div.fragment div.line:first-of-type {
  margin-left: -1ex;
  white-space: normal;
}

.memdoc div.fragment div.line:first-of-type span.lineno {
  margin-left: 1ex;
}

span.key {
  font-weight: bold;
}

span.key:before{
  font-family: 'Material Icons';
  content: 'chevron_right'
}

span.lineno {
  border-right: 1px solid #999;
}

div.ah, span.ah {
  background-color: #354c7b;
  color: #dfe5f1;
  height: 32px;
  width:32px;
  margin: 0px;
  text-align: center;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-image: none;
}

div.contents {
  width: auto;
  padding: 40px;
  margin-top: -1px;
  margin-bottom: 10px;
  border: 1px solid #d1d5da;
  border-radius: 2px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* @group Code Colorization */

span.keyword {
  color: #2e2e2e;
  font-weight: 600;
}

span.keywordflow {
  color: #2e2e2e;
  font-weight: 600;
}

span.keywordtype {
  color: #2e7493;
  font-weight: 600;
}

span.comment {
  color: #999;
}

span.preprocessor {
  color: #999;
  font-weight: 600;
}

span.stringliteral {
  color: #c44025;
}

span.charliteral {
  color: #c44025;
}

blockquote {
  background-color: #eeeeee;
  border-left: 2px solid #606060;
  margin: 0 24px 0 4px;
  padding: 0 12px 0 16px;
}

/* @end */

div.toc {
  border-radius: 0;
  width: 300px;
  margin-right: 0;
}

div.toc h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

div.toc li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding-left: 0;
  background-image: none;
}

div.toc li.level2 {
  margin-left: 1em;
}

div.toc li.level3 {
  margin-left: 1em;
}

p.reference, p.definition {
  font: 400 14px  -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

dl.reflist dt {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #dfe5f1;
  border: 1px solid #A8B8D9;
  border-bottom: none;
  text-shadow: none;
}

dl.reflist dd {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-image: none
}

.memtitle {
  border-bottom: none;
  background-image: none;
  border-radius: 0;
  background-color: #dfe5f1;
}

.memproto {
  background-color: #dfe5f1;
  text-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.memdoc {
  border-radius: 0;
  background-image:none;
  background-repeat:repeat-x;
  background-color: #FFFFFF;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

span.mlabel {
  font-size: 11pt;
  background-color: #428bca;
  border:none;
  border-radius: 100px;
  padding: 2px 8px;
}

.arrow {
  color: #354c7b;
  box-sizing: content-box;
  height: auto;
}

.icon {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  height: 16px;
  background-color: #354c7b;
  color: #dfe5f1;
  border-radius: 6px;
}

div.summary {
  font-size: 0.75em;
}

div.ingroups {
  font-size: 0.6em;
}

div.header {
  width: auto;
  padding: 10px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 8px;
  background-image: none;
  background-repeat: none;
  background-color: #f6f8fa;
  border: 1px solid #d1d5da;
}

div.headertitle {
  padding: 0px;
}

dl.note, dl.note.DocNodeRTL {
  border-color: #cfb100;
}

dl.warning, dl.attention, dl.warning.DocNodeRTL, dl.attention.DocNodeRTL {
  border-color: #ca831f;
}

dl.pre, dl.post, dl.invariant, dl.pre.DocNodeRTL, dl.post.DocNodeRTL, dl.invariant.DocNodeRTL {
  border-color: #8eb400;
}

dl.deprecated, dl.deprecated.DocNodeRTL {
  border-color: #8d8d8d;
}

dl.todo, dl.todo.DocNodeRTL {
  border-color: #73b2ce;
}

dl.test, dl.test.DocNodeRTL {
  border-color: #258595;
}

dl.bug, dl.bug.DocNodeRTL {
  border-color: #c6563f;
}

#projectlogo img {
  padding: 4px 10px;
}

#projectname {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
}

#projectbrief {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
}

#projectnumber {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#titlearea {
  background-color: #dfe5f1;
}

.image {
  text-align: left;
}

#nav-tree {
  background-image: none;
}

#nav-tree .label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.navpath ul {
  background-image:none;
  background-color: #f4f8fa;
  border:none;
  border-bottom:solid 1px #C2CDE4;
}

/*.navpath li
{
  list-style-type:none;
  float:left;
  padding-left:10px;
  padding-right:15px;
  background-image:url('bc_s.png');
  background-repeat:no-repeat;
  background-position:right;
  color:#354C7B;
}
*/

.navpath ul {
  padding-left: 14px;
}
.navpath li {
  background:none;
  padding: 0;
}

.navpath li a.el:after{
  font-family: 'Material Icons';
  font-size: 24px;
  display: inline-block;
  position: relative;
  margin-top: -7px;
  top:7px;
  content: 'chevron_right'
}

.navpath li.navelem a {
  color: #354C7B;
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  text-shadow: none;
}

.navpath li.navelem a:hover {
  color:#6884BD;
}

#side-nav {
  width: 25%;
  max-width: 50%;
}

.directory .levels {
  font-size: 0.8em;
}

table.directory {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

/* @group Markdown */
tt, code, kbd, samp {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 2px 4px;
  font-size: 95%;
  color: #253555;
  background-color: #dfe5f1;
  border-radius: 2px;
}
/* @end */

/* @group PowerTip */

#powerTip {
  opacity: 1.0;
  border-radius: 0;
  border-color: #a8b8d9;
  box-shadow: 3px 3px 8px 0px grey;
}

#powerTip.s::before,#powerTip.se::before,#powerTip.sw::before {
  border-color: #a8b8d9;
}

#powerTip div {
  padding: 3px 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

#powerTip div.ttdeci {
  color: #2e7493;
}

#powerTip div.ttdoc {
  color: black;
  font-style: normal;
}

/* @end */

/* @group Search Box */

#MSearchBox {
  margin-right: -1px;
  margin-top: 5px;
  width: 152px;
  background-color: white;
  border: 1px solid #5373b4;
}

#MSearchBox .left {
  left:0px;
  width:22px;
  height:22px;
  background:none;
}

#MSearchSelect {
  width:22px;
  height:22px;
}

#MSearchField {
  width:115px;
  height:22px;
  background:none;
  color: #909090;
  font: 12pt -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

#MSearchBox .right {
  right:-1px;
  top:11px;
  height:22px;
  background:none;
}

.MSearchBoxActive #MSearchField {
    color: #909090;
}

/* @end  */

/* @group Search */

#MSearchSelectWindow {
  border: 1px solid #5373b4;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}

.SelectItem {
  font: 11pt -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding-right: 16px;
}

a.SelectItem:hover {
  background-color: #5373b4;
}

#MSearchResultsWindow {
  border: 1px solid #5373b4;
  background-color: white;
}

/* @end */

/* @group tabs */
  .sm-dox {
    background-image: none;
    background-color: #ebeff6;
    border-bottom: 1px solid #5373b4;
  }

  .sm-dox a {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    background-image: none;
    background-repeat: no-repeat;
    border-bottom: 1px solid #5373b4;
  }

  .sm-dox a:focus, .sm-dox a:active, .sm-dox a:hover, .sm-dox a.highlighted {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    background-color: #5373b4;
    background-image: none;
    text-shadow: none;
    color: white;
  }

  .sm-dox ul a:hover, .sm-dox ul a:active, .sm-dox ul a.highlighted {
    background-image: none;
    background-color: #ebeff6;
    text-shadow: none;
    color: inherit;
  }

@media (min-width: 768px) {
  .sm-dox {
    padding-left: 2px;
  }

  .sm-dox a {
    border-bottom: none;
    border-right: 1px solid #5373b4;
  }

  .sm-dox a.highlighted span.sub-arrow{
    border-color:white transparent transparent transparent;
  }

  .sm-dox ul {
    padding: 0;
    border-radius:0!important;
  }

  .sm-dox ul a:hover span.sub-arrow, .sm-dox ul a.highlighted span.sub-arrow {
    border-color:transparent transparent transparent #555;
  }
}
/* @end */
